@{
    ViewBag.Title = "About Page";
}
<h2>@ViewBag.Title.</h2>

<p>This program provides through the plate number, date and time if a car can be on the road or not.</p>
<hr />
<h3>Important details:</h3>
<hr />
<h5>This program considers the past hours of Pico & Placa: 7:00 - 9:30 and 16:00 - 19:30 </h5>
<h5>The input <b>Plate Number</b> receives a 4 digit number</h5>
<h5>The input <b>Date</b> receives dates above today's date </h5>
<h5>The input <b>Time</b> receives the exact time the user want to know about Pico y Placa </h5>

